<html>
    <head>
        <title>Capstone Viva</title>
        
    </head>
    <body bgcolor="MEETA"></body>
    <body>
      <h1 style="text-align:center">Employee Form</h1>

        <div class="main">
        <div class="main_div">

        <form method="post" class="form">
            {% csrf_token %}

            <div class="input_div">
              <p class="head">Name</p>
              <input placeholder="Name" class="input" type="text" name="name">
            </div>

            <div class="input_div">
              <p class="head">Password</p>
              <input placeholder="Password" class="input" type="password" name="password">
            </div>

            <div class="input_div">
              <p class="head">Address</p>
              <input  placeholder="Address" class="input" type="text-area" name="address">
            </div>
     
            <div class="input_div">
              <p class="head" for="state">State</p>
              <select class="input" name="state">
                <option value="Andhra Pradesh">Andhra Pradesh</option></option>
                <option value="Arunachal Pradesh ">Arunachal Pradesh </option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir ">Jammu and Kashmir </option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="National Capital Territory of Delhi">National Capital Territory of Delhi</option>
                <option value="Puducherry">Puducherry</option>
              </select>
            </div>
            
            <br>

            <div>
              <label style="font-size:20px; margin-right:132px;">Gender</label>
              <input type="radio" name="gender" value="male" >
              <label style="font-size:18px">Male</label>
              <input type="radio" name="gender" value="female">
              <label style="font-size:18px">Female</label><br>
            </div>

            <br>
            <br>

            <div>
              <label style="font-size:20px; margin-right:125px;">Vehicles</label>
              <input type="checkbox" name="vehicle[]" value="Scooter">
              <label style="font-size:18px">Scooter</label>
              <input type="checkbox" name="vehicle[]" value="Bike">
              <label style="font-size:18px">Bike</label>
              <input type="checkbox" name="vehicle[]" value="Car">
              <label style="font-size:18px">Car</label>
            </div>

            <br>

            <div class="input_div">
              <p class="head">Salary</p>
              <input placeholder="Salary" class="input" type="text" name="salary">
            </div>

            <br>

            <div class="input_div">
              <label class="head">Date of Birth</label>
              <input class="input" style="margin-top:0px" type="date" name="dob">
            </div>

            <br>

            <div style="display:flex; justify-content:center">
              <button class="btn" type="submit">Submit</button>
            </div>

            

            
        </form>
      </div>
    </div>

          <table style="width:80%; margin:30 auto">
            <tr>
              <th style="width:50%">Name:</th>
              <td style="width:50%">{{ name }}</td>
            </tr>
            <tr>
              <th>Password:</th>
              <td>{{ password }}</td>
            </tr>
            <tr>
              <th>Address:</th>
              <td>{{ address }}</td>
            </tr>
            <tr>
                <th>State:</th>
                <td>{{ state }}</td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td>{{ gender }}</td>
            </tr>
            <tr>
                <th>Vehicle:</th>
                <td>{{ vehicle }}</td>
            </tr>
            <tr>
                <th>Salary:</th>
                <td>
                    {{ salary }}
                </td>
            </tr>
            <tr>
                <th>Date of Birth:</th>
                <td>{{ dob }}</td>
            </tr>
          </table>
  
    </body>
</html>